**Data Structures**

**List**

Python Lists are just like the arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type. Here are the key characteristics of lists:

- Lists in Python maintain the order of elements as they are inserted. The order in which elements are added is the same order in which they are stored.
- Lists are mutable, meaning you can modify their elements after the list is created. You can change, add, or remove elements from a list.
- Lists can contain elements of different data types.
- Lists in Python are dynamic, meaning they can grow or shrink in size as needed.
- Lists support indexing, allowing you to access individual elements using their position (index) in the list.
- Lists are iterable, meaning you can loop through each element using a for loop.

**Creating Lists**

In Python, you can create a list by enclosing a sequence of elements in square brackets (**[]**), separated by commas. or use **list()** to create a new list

In [2]:
# creating a student_info list to store the information about the student roll no,name, course and marks scored
Student_info = [21, 'Sam', "IT", 30, 35, 50]
print(Student_info)

[21, 'Sam', 'IT', 30, 35, 50]

**Accessing elements**

List elements can be accessed using their index, starting from 0 for the first element. Negative indices can also be used to access elements from the end of the list.

In [4]:
Student_info = [21, 'Sam', "IT", 30, 35, 50, 90]
print("Student_roll :", Student_info[0], end=' , ')
print("Student_name :", Student_info[1], end=', ')
print("Student_totalMarks :", Student_info[-1], end=' ')

Student_roll : 21 , Student_name : Sam, Student_totalMarks : 90

**Slicing Lists**

List slicing allows us to create sub-lists by specifying a range of indices.

In [5]:
Student_info = [21, 'Sam', "IT", 30, 35, 50, 90]
Student_info[1:5]

['Sam', 'IT', 30, 35]

**Note:** The end index will be excluded

**Modifying Lists**

**Changing elements**

In [6]:
Student_info = [21, "SAM", "IT", 20, 30, 50, 120]
Student_info[2] = "ME"
print(Student_info)

[21, 'SAM', 'ME', 20, 30, 50, 120]

**Adding elements**

To add elements at last we can use **append()**

In [7]:
Student_info = [21, "Sam", "IT", 20, 30]
Student_info.append(50)
print(Student_info)

[21, 'Sam', 'IT', 20, 30, 50]

**Removing elements**

In [8]:
Student_info = [21, 'Sam', 'IT', 20, 30, 50]
Student_info.remove(50)
print(Student_info)

[21, 'Sam', 'IT', 20, 30]

**List Operations:**

**a. Concatenation:**

Lists can be concatenated using the + operator.

In [9]:
Student_info = [21, "Sam", "IT", 20, 30, 50, 90]
Student2_info = [22, "Tom", "ME", 40, 40, 50, 110]
print(Student_info + Student2_info)

[21, 'Sam', 'IT', 20, 30, 50, 90, 22, 'Tom', 'ME', 40, 40, 50, 110]

**b. Repetition:**

Lists can be repeated using the * operator.

In [10]:
Student_info = [21, "Sam", "IT", 20, 30, 50, 90]
print(Student_info * 2)

[21, 'Sam', 'IT', 20, 30, 50, 90, 21, 'Sam', 'IT', 20, 30, 50, 90]

**Common List Methods:**

**a. len():**

Returns the length (number of elements) of a list.

**b. sort():**

Sorts the elements of a list in ascending order. If you want to sort a list in descending order, you can use the reverse parameter of the sort() method. Setting **reverse=True** will sort the list in descending order.

**c. reverse():**

Reverses the elements of a list.

In [11]:
List = [2.0, 29.1, 5.6, 11.5, 8.5]
print(len(List))
List.sort()
print(List)
List.reverse()
print(List)

5
[2.0, 5.6, 8.5, 11.5, 29.1]
[29.1, 11.5, 8.5, 5.6, 2.0]

**Multidimensional List**

A multidimensional list is basically a list of lists in python, each inner list represents the row or column inside the list. There can be more than one dimensions to a list.

**Accessing elements of list**

Let's take a example of a list L1= [ [1, 2, 3, 5], [4, 6, 7, 9], [8, 10, 11, 13] ]

Accessing elements in a multidimensional list involves using double indexing. The first index selects the row, and the second index selects the element within that row (or column).

In [12]:
List1= [ [1, 2, 3, 5], [4, 6, 7, 9], [8, 10, 11, 13] ]
#Accesing the rows of the list
for i in List1:
  print(i, end = ' -- ')

#Accessing each element of a 2D-list
print("\n")
for i in range(len(List1)):
  for j in range(len(List1[i])):
                 print(List1[i][j], end=" , ")

[1, 2, 3, 5] -- [4, 6, 7, 9] -- [8, 10, 11, 13] --

1 , 2 , 3 , 5 , 4 , 6 , 7 , 9 , 8 , 10 , 11 , 13 ,

**Methods in multidimensional list:**

**Append list in a multidimensional list:**

Adds an element at the end of the list.

In [13]:
List1 = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
List1.append([5, 10, 15, 20, 25])
print(List1)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

**Extend in existing list:**

Add the elements of a list (or any iterable), to the end of the current list using extend() method.

In [14]:
List = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
List[0].extend([12, 14, 16, 18])
print(List)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

**Reverse a multidimensional list:**

Reverse the order of the given list by using reverse() method.

In [15]:
List = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
List[0].reverse()
print(List)

[[10, 8, 6, 4, 2], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

**Flattening a Multidimensional List:**

You can flatten a multidimensional list into a 1D list using list comprehension:

In [16]:
matrix = [
    [2, 4, 8],
    [4, 9, 6, 5],
    [6, 8, 9]
]
flattened_list = [element for row in matrix for element in row]
print(flattened_list)

[2, 4, 8, 4, 9, 6, 5, 6, 8, 9]

**Searching in a multidimensional list:**

You can the position of an element inside a multidimensional list

In [17]:
matrix = [
    [1, 8 , 3],
    [7, 5, 6],
]
element = 5
position = [(i, row.index(element)) for i, row in enumerate(matrix) if element in row]
print(position)

[(1, 1)]

**List-Comprehensions**

List comprehensions provide a concise way to create lists. They offer a compact syntax for generating lists based on existing iterables, such as lists, strings, or ranges.

**Basic Syntax:**

The basic syntax of a list comprehension consists of an expression followed by a for clause, all enclosed in square brackets [].

In [18]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

**Condition in List Comprehension:**

You can include an optional if clause to filter elements based on a condition.

In [19]:
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

**Nested List Comprehensions:**

List comprehensions can be nested to create more complex structures.

In [20]:
matrix = [[i * j for j in range(3)] for i in range(4)]
print(matrix)

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]

**Using Functions in List Comprehension:**

You can apply functions to elements within a list comprehension.

In [21]:
letters = ['a', 'b', 'c']
uppercase_letters = [letter.upper() for letter in letters]
print(uppercase_letters)

['A', 'B', 'C']

**Applications of List Comprehensions:**

1. **Filtering:** Create a sub-list based on a condition.

2. **Transformation:** Apply a transformation to each element in a list.

3. **Matrix Operations:** Generate matrices and perform operations.

4. **String Manipulation:** Create lists of characters or modify strings.

**Properties of Tuples**

- Tuples are immutable which means once a tuple is created, you cannot modify its elements. You can't add, remove, or change elements in a tuple.
- Tuples are ordered, meaning the position of an element in a tuple is preserved.
- Tuples can contain elements of different data types. You can have integers, strings, floats, and other data types within the same tuple.

**Access elements of tuples**

Tuples in Python provide two ways by which we can access the elements of a tuple, using a positive index and using a negative index.

In [22]:
my_tuple = (2, 4, "Python", 5.0, -3)
ele_1 = my_tuple[-2]
ele_2 = my_tuple[2]
print (ele_1, ele_2)

5.0 Python

**Tuples Method**

Tuples have a few built-in methods. However, due to their immutable nature, the number of methods is limited compared to lists.

**1. count(element):**

The count method returns the number of occurrences of a specified element in the tuple.

**2. index(element) :**

The index method returns the index of the first occurrence of a specified element in the tuple.

In [23]:
my_tuple = (1, 3, "Datascience", 4.0, "python", 1)
index= my_tuple.index('python')
count = my_tuple.count(1)
print (f"index of python: { index }, count of 1 : {count}")

index of python: 4, count of 1 : 2

**3. Tuple Packing and Unpacking:**

Tuple packing is the process of placing multiple values in a tuple, while tuple unpacking is the process of extracting values from a tuple.

In [24]:
packed_tuple = 1, 2, 'three'

# Tuple unpacking
a, b, c = packed_tuple
print (f" packed Tuple : {packed_tuple}, unpacked tuple a: {a}, b: {b}, c : {c}")

 packed Tuple : (1, 2, 'three'), unpacked tuple a: 1, b: 2, c : three

**Dictionary**

A dictionary in Python is a collection of key values, used to store data values like a map, which, unlike other data types holds Key-value only a single value as an element.

**Dictionary Syntax**

dict_var = {key1 : value1, key2 : value2, …..}

**Properties of dictionary**

- Dictionaries in Python are unordered collections of items. Unlike lists, the order in which items are added to a dictionary is not preserved.
- Dictionaries are mutable, meaning you can modify their contents by adding, removing, or updating key-value pairs.
- Keys in a dictionary must be immutable, meaning they cannot be changed after creation. Values in a dictionary, on the other hand, can be of any data type and are mutable.
- Retrieving a value from a dictionary is highly efficient, typically taking constant time on average.

**Creating a dictionary**

There are different ways to create a dictionary. You can create a dictionary in Python using curly braces {} and specifying key-value pairs separated by colons ':' . Dictionary can also be created by the built-in function dict(). An empty dictionary can be created by just placing to curly braces{}.

In [25]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Dict = dict({1: 'Data', 2: 'Science', 3: 'Python'})
print("Dictionary with the use of dict() method: ")
print(Dict)

Dict = dict([(1, 'Data'), (2, 'Science')])
print("Dictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}
Dictionary with the use of dict() method:
{1: 'Data', 2: 'Science', 3: 'Python'}
Dictionary with each item as a pair:
{1: 'Data', 2: 'Science'}

**Complexities for Creating a Dictionary**

**Time complexity:** O(len(dict))

**Space complexity:** O(n)

**Accessing values of a dictionary**
To access a value in a dictionary, you can use square brackets [] and provide the key. If the key is not present in the dictionary, it will raise a KeyError. To avoid this, you can use the get method.

In [26]:
my_dict = {'name':'Sam', 'age': 24}
print(my_dict['name'])
print(my_dict['age'])
print(my_dict.get('name','Unknown'))
print(my_dict.get('city','Unknown'))

Sam
24
Sam
Unknown

**Complexities for Accessing elements in a Dictionary:**

**Time complexity:** O(1)

**Space complexity:** O(1)

**Modifying and adding elements**
You can add elements in a dictionary in multiple ways. One value at a time can be added to a Dictionary by defining value along with the key, for instance Dict[Key] = ‘Value’. Updating an existing value in a Dictionary can be done by using the built-in update() method.

**Note** - If the key doesn't exist it creates a new key-value pair and if the key already exists in a dictionary it updates it's values with a new value.

In [27]:
Dict = {}
Dict['name'] = 'Sam'
Dict['age'] = 24
Dict['city'] = 'Paris'
Dict ['city'] = 'Italy'
print("Dictionary after adding/modifying elements: ")
print(Dict)

#modifying dict using update function
print("Dictionary after modifying elements through update:")
Dict.update({'age':26,'city':'USA'})
print(Dict)

Dictionary after adding/modifying elements:
{'name': 'Sam', 'age': 24, 'city': 'Italy'}
Dictionary after modifying elements through update:
{'name': 'Sam', 'age': 26, 'city': 'USA'}

**Complexities for Adding elements in a Dictionary:**

**Time complexity:** O(1)/O(n)

**Space complexity:** O(1)

**Removing elements**

To remove a key-value pair from a dictionary, you can use the pop method or use the del keyword.

In [28]:
Dict = {'name':'Sam','age':24, 'gender':'Female'}

#removing a key using pop
removed_value = Dict.pop('gender')
print(removed_value)
print(Dict)

# Removing a key using del
del(Dict['age'])
print(Dict)

Female
{'name': 'Sam', 'age': 24}
{'name': 'Sam'}

**Dictionary methods**

**dict.clear()** - Remove all the elements from the dictionary

**dict.copy()** - Returns a copy of the dictionary

**dict.get(key, default = “None”)** - Returns the value of specified key

**dict.items()** - Returns a list containing a tuple for each key value pair

**dict.keys()** - Returns a list containing dictionary’s keys

**dict.update(dict2)** - Updates dictionary with specified key-value pairs

**dict.values()** - Returns a list of all the values of dictionary

**pop()** - Remove the element with specified key

**popItem()** - Removes the last inserted key-value pair

**dict.setdefault(key,default= “None”)** - set the key to the default value if the key is not specified in the dictionary

**dict.has_key(key)** - returns true if the dictionary contains the specified key.

**dict.get(key, default = “None”)** - used to get the value specified for the passed key.

**Iterating through a dictionary**

You can iterate through the keys, values, or key-value pairs of a dictionary using loops:

In [ ]:
my_dict = {'name':'Sam','age':24, 'gender':'Female'}
for key in my_dict:
    print(key, end=' ')
print('\n')
# Iterating through values
for value in my_dict.values():
    print(value, end=' ')
print('\n')
# Iterating through key-value pairs
for key, value in my_dict.items():
    print(key, value, end = ' ')

**Multidimensional Dictionary**

Multidimensional dictionary in Python is a dictionary that contains other dictionaries as values. Each level of nesting represents a different dimension in the data structure.

Example of multidimensional dictionary:

In [30]:
multidimensional_dict = {
        'first_level': {
             'second_level_1': {
                     'third_level_1': 1,
                     'third_level_2': 2
               },
        'second_level_2': {
                    'third_level_3': 3,
                    'third_level_4': 4
                   }
              },
 'another_first_level': {
                'second_level_3': {
                             'third_level_5': 5,
                             'third_level_6': 6
                             },
              'second_level_4': {
                            'third_level_7': 7,
                            'third_level_8': 8
                    }
             }
        }

Here, we have a dictionary where each key maps to another dictionary, creating a hierarchy with multiple levels.

**Accessing Values in a Multidimensional Dictionary:**
To access a value in a multidimensional dictionary, you can use multiple square brackets for each level:

In [31]:
#taking above example dictionary
value = multidimensional_dict['first_level']['second_level_1']['third_level_2']
print(value)

2

**Adding new level to existing Dictionary**

We can add new level in the multidimensional dictionary in the following way:

In [32]:
multidimensional_dict['new_first_level'] = {'new_second_level': {'new_third_level': 100}}
print(multidimensional_dict)

{'first_level': {'second_level_1': {'third_level_1': 1, 'third_level_2': 2}, 'second_level_2': {'third_level_3': 3, 'third_level_4': 4}}, 'another_first_level': {'second_level_3': {'third_level_5': 5, 'third_level_6': 6}, 'second_level_4': {'third_level_7': 7, 'third_level_8': 8}}, 'new_first_level': {'new_second_level': {'new_third_level': 100}}}

**Iterating over multidimensional Dictionary**

To iterate over multidimensional Dictionary you can use nested loops.

In [33]:
for first_level_key, second_level_dict in multidimensional_dict.items():
    print(f"First Level Key: {first_level_key}")

    for second_level_key, third_level_dict in second_level_dict.items():
        print(f"  Second Level Key: {second_level_key}")

        for third_level_key, value in third_level_dict.items():
            print(f"    Third Level Key: {third_level_key}, Value: {value}")

First Level Key: first_level
  Second Level Key: second_level_1
    Third Level Key: third_level_1, Value: 1
    Third Level Key: third_level_2, Value: 2
  Second Level Key: second_level_2
    Third Level Key: third_level_3, Value: 3
    Third Level Key: third_level_4, Value: 4
First Level Key: another_first_level
  Second Level Key: second_level_3
    Third Level Key: third_level_5, Value: 5
    Third Level Key: third_level_6, Value: 6
  Second Level Key: second_level_4
    Third Level Key: third_level_7, Value: 7
    Third Level Key: third_level_8, Value: 8
First Level Key: new_first_level
  Second Level Key: new_second_level
    Third Level Key: new_third_level, Value: 100

**Application of multidimensional Dictionary**

**1. Configuration Settings:** Representing configuration settings where each setting category has various parameters.

**2. Tree Structures:** Representing hierarchical structures such as organizational charts.

**3. Nested Data:** Storing data with a hierarchical relationship, where each level provides more specific information.

**Dictionary Comprehension**

Python dictionary comprehension is a very useful feature if you want to construct dictionaries in one line of code. We can construct a dictionary using a {key : value} mapping directly from an iterable object like, lists.

**Syntax :**

{key_expression: value_expression for item in iterable}

**Condition in dictionary comprehension**

We can customize the dictionary comprehension by adding conditions to each of the iterations.

In [34]:
# Using dictionary comprehension to create a dictionary of squared even numbers
numbers = {x: x**2 for x in range(1, 11) if x % 2 == 0}
print(numbers)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

**Creating a dictionary from Lists**

You can also create dictionary from existing lists, making one of the list as keys and the other as values.

In [35]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
result = {k: v for k, v in zip(keys, values)}
print(result)

{'a': 1, 'b': 2, 'c': 3}

**Nested dictionary comprehension**

You can add dictionary comprehensions to dictionary comprehensions themselves to create nested dictionaries.

In [36]:
dictionary = {
    k1: {k2: k1 * k2 for k2 in range(2, 6)} for k1 in range(5, 7)
}
print(dictionary)

{5: {2: 10, 3: 15, 4: 20, 5: 25}, 6: {2: 12, 3: 18, 4: 24, 5: 30}}

In [37]:
dictionary = {
    k1: {k2: k1 * k2 for k2 in range(2, 6)} for k1 in range(5, 7)
}
print(dictionary)

{5: {2: 10, 3: 15, 4: 20, 5: 25}, 6: {2: 12, 3: 18, 4: 24, 5: 30}}

**Set**

Sets are a fundamental data type in Python that represent an unordered collection of unique elements. They provide a versatile and efficient way to work with data that requires distinct values.

**Properties of Set**

- Sets do not allow duplicate elements. Each element in a set must be unique.
- Sets are unordered, meaning the elements do not have a specific order. Unlike lists, sets do not have indices.
- Sets are mutable, meaning you can add or remove elements after the set is created.
- Due to their unordered nature, sets do not support indexing. You cannot access elements by index as you would with lists.

**Common Set methods**

**Adding Elements:**
1. add(element):
Adds a single element to the set.

2. update(iterable):
Adds multiple elements from an iterable (e.g., list, tuple).

In [38]:
Set={1,2,3,4}
Set.add(6)
Set.update([4,5,6])
print(Set)

{1, 2, 3, 4, 5, 6}

**Removing Elements:**
1. remove(element):
Removes a specific element from the set. Raises a KeyError if the element is not present.

2. discard(element):
Removes a specific element from the set if it is present. Does not raise an error if the element is not found.

3. pop():
Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.

In [39]:
Set = {1,2,3, 4,5,7,8,9}
Set.remove(5)
Set.discard(3)
popped_element = Set.pop()
print(Set,f"Popped element is {popped_element}")

{2, 4, 7, 8, 9} Popped element is 1

**Set Operations:**
1. union() or |:
Returns a new set containing all unique elements from both sets.

2. intersection() or &:
Returns a new set containing common elements between two sets.

3. difference() or -:
Returns a new set with elements in the first set but not in the second set.

4. symmetric_difference() or ^:
Returns a new set with elements in either set, but not both.

In [40]:
set1 = {2, 3, 4, 5, 6}
set2 = {4, 5, 7, 9, 1}
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set2-set1
symmeteric_diff = set1 ^ set2
print(f"union set : {union_set}")
print(f"intersection set : {intersection_set}")
print(f"difference of sets : {difference_set}")
print(f"symmetric difference : {symmeteric_diff}")

union set : {1, 2, 3, 4, 5, 6, 7, 9}
intersection set : {4, 5}
difference of sets : {1, 9, 7}
symmetric difference : {1, 2, 3, 6, 7, 9}

**5. Other Methods:**

(i) clear(): Removes all elements from the set, making it empty.

(ii) copy(): Returns a shallow copy of the set.

(iii) len(): Returns the number of elements in the set.

In [41]:
Set = {2, 3, 4, 7, 8, 0}
copy_set = Set.copy()
set_length = len(Set)
print("copy of set ", copy_set," set length ", set_length)
Set.clear()
print("Original set ", Set)

copy of set  {0, 2, 3, 4, 7, 8}  set length  6
Original set  set()

(iv) in and not in: Checks for membership in a set.

In [42]:
Set = {2, 4, 5, 7, 8}
if 5 in Set:
    print("5 is in the set")

5 is in the set