**Data Types**

In Python , Data types of a variable are interpreted at runtime and we don't have to initially declare it, that is why Python is called dynamically-typed language. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes and variables are instances (object) of these classes.

Use type() to find the type of the variable

**1. Numeric Types**

**a. Integers (int):**

Integers represent whole numbers without any decimal point. It can be both positive and negative numbers ranging [-inf,..,0,....+inf]

In [13]:
a = 5
b = -34
c = 289
print("Type of a: ", type(a))
print("Type of b: ", type(b))
print("Type of c: ", type(c))

Type of a:  <class 'int'>
Type of b:  <class 'int'>
Type of c:  <class 'int'>

**b. Floating-Point Numbers (float):**

Float type represent real numbers and can have decimal points.

In [14]:
a = 5.0
b = -479.54
print("Type of a: ", type(a))
print("Type of b: ", type(b))

Type of a:  <class 'float'>
Type of b:  <class 'float'>

**c. Complex Numbers (complex):**

Complex numbers have a real and an imaginary part. It is specified as (real part) + (imaginary part)j.

In [15]:
a = 2 + 4j
b = 3 - 5j
print("Type of a: ", type(a))
print("Type of b: ", type(b))

Type of a:  <class 'complex'>
Type of b:  <class 'complex'>

**2. Sequence Types**

**a. Strings :**

A string is a collection of one or more characters put in a single quote, double-quote, or triple-quote. In python there is no character data type, a character is a string of length one.

Example: s='python', s="Py", s='''Language''', s='a', s='1.0', s=""

If you need to include quotes within the string, you can use the opposite type of quote for enclosing the string. This technique ensures that the quotes inside the string are treated as literal characters and not as the string delimiters.

In [16]:
String1 = 'Python'
print("String with the use of Single Quotes: ", String1)
String2 = "I'm learning Python"
print("String with the use of Double Quotes including single quotes: ", String2, type(String2))
String3 = '''I'm Learning Python and i love "Python" Language'''
print("String with the use of Triple Quotes: ", String3, type(String3))
String4 = '''Python
			is
			Easy'''
print("Creating a multiline String: ", String4)

String with the use of Single Quotes:  Python
String with the use of Double Quotes including single quotes:  I'm learning Python <class 'str'>
String with the use of Triple Quotes:  I'm Learning Python and i love "Python" Language <class 'str'>
Creating a multiline String:  Python
			is
			Easy

**b. Lists :**

Lists is a collection of ordered and mutable elements. To declare a empty list we have to define []

In [17]:
lst1=[] #empty list
print(type(lst1))
lst2=[1.0, 2, 'Python', "Language"]
print(type(lst2))

<class 'list'>
<class 'list'>

**c. Tuples :**

Tuples is a collection of ordered and immutable elements. To declare a empty tuple we have to define using ()

In [18]:
tup1 = ()
print(type(tup1))
tup2 = (1)
print(type(tup2))
tup3 = (2, )
print(type(tup3))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In the above example tup2 is considered as int instead of tuple. So if there is one element in the tuple we have to use comma like tup3

**3. Boolean**

The boolean data type represents truth values either True or False.

**Note**

 - True and False with capital ‘T’ and ‘F’ are valid booleans otherwise python will throw an error.

- nternally Python represents True as 1 and False as 0

In [19]:
selected = True
print(type(selected))

<class 'bool'>

In [24]:
a = True
b = True

print(a + b)

c = True
d = False

print(c + d)

e = False
f = False

print(e + f)

2
1
0

**4. Set**

Set is an unordered collection of data types that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

In [25]:
c = set()
c = {1, 4, 5, "Python", 6.0}
print(type(c))

<class 'set'>

**5. Dictionary**

A dictionary in Python is an unordered collection of data values in form of key-value pairs. Key-value is provided in the dictionary to make it more optimized. Each key-value pair in a Dictionary is separated by a colon : , whereas each key is separated by a ‘comma’.

In [26]:
Dict1 = {}
print("Empty Dictionary: ", Dict1, type(Dict1))
Dict2 = {1: 'Python', 2: 'is', 3: 'easy'}
print("Dictionary with the use of Integer Keys: ", Dict2, type(Dict2))
Dict3 = {'Name': 'Python', 1: [1, 2, 3, 4]}
print("Dictionary with the use of Mixed Keys: ", Dict3, type(Dict3))
Dict4 = dict([(1, 'Python'), (2, 'For')])
print("Dictionary with each item as a pair: ", Dict4, type(Dict4))

Empty Dictionary:  {} <class 'dict'>
Dictionary with the use of Integer Keys:  {1: 'Python', 2: 'is', 3: 'easy'} <class 'dict'>
Dictionary with the use of Mixed Keys:  {'Name': 'Python', 1: [1, 2, 3, 4]} <class 'dict'>
Dictionary with each item as a pair:  {1: 'Python', 2: 'For'} <class 'dict'>

**Print Function**

Used to print the output to the console

**end' and 'sep' parameter in python**

**'end' :**
end is the parameter of python's built-in print() function. It controls what should be printed at the end of print method. By default print statement ends with a newline (end='/n'). we can specify any string, special characters, or any escape sequences.

In [27]:
a = "Python is easy"
b = "Language"
print(a, end='  ')
print(b)
print(a, end=' * ')
print(b)

Python is easy  Language
Python is easy * Language

**'sep' :**

The sep parameter is used to specify the separator between the values that are passed to the print() function. By default print() uses a space character as the separator between values.

In [29]:
a = "Python is easy"
b = "Language"
print("Python", "is", "easy", sep='-', end=' * ' )
print(b)
print(a, b, sep='\n')

Python-is-easy * Language
Python is easy
Language

**Operators**

Operators in general are used to perform operations on values and variables. These are standard symbols used for the purpose of logical and arithmetic operations.

**OPERATORS:** These are the special symbols. Eg + , * , /, %, >> etc.

**OPERANDS:** The values on which operator is applied.

Different type of operators in Python are:

**Arithmetic Operators**

Arithmetic operators are used to perform basic mathematical operations like addition, multiplication, division etc.
In Python 3.x the result of division is a floating-point while in Python 2.x division of 2 integers was an integer. To obtain an integer result in Python 3.x floored (// integer) is used.

In [30]:
a = 8
b = 5
# addition
print ('Addition : ', a + b)

# subtraction
print ('Subtraction: ', a - b)

# multiplication
print ('Multiplication: ', a * b)

# division
print ('Division: ', a / b)

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)

# a to the power b
print ('Power: ', a ** b)

Addition :  13
Subtraction:  3
Multiplication:  40
Division:  1.6
Floor Division:  1
Modulo:  3
Power:  32768

**Comparison Operators**

Comparison operators in Python are used to compare values and return a Boolean result (either True or False). These operators allow you to compare whether values are equal, not equal, greater than, less than, greater than or equal to, or less than or equal to.

In [31]:
x = 5
y = 7
# equal to operator
print('is x equal to y -', x == y)

# not equal to operator
print('is x not equal to y -', x != y)

# greater than operator
print('is x greater than y -', x > y)

# less than operator
print('is x less than y -', x < y)

# greater than or equal to operator
print('is x greater than or equal to y -', x >= y)

# less than or equal to operator
print('is x less than or equal to y -', x <= y)

is x equal to y - False
is x not equal to y - True
is x greater than y - False
is x less than y - True
is x greater than or equal to y - False
is x less than or equal to y - True

**Logical Operators**

Logical operators in Python are used to perform logical operations on boolean values. They are commonly used in decision-making and control flow structures. These operators help check the truth value of expressions and combine multiple conditions to determine whether an overall expression evaluates to True or False.

In [32]:
p = True
q = False
print("p =",p," q =",q)
print("if p is AND with q, it will output", p and q)
print("if p is OR with q, it will output",p or q)
print("not of p will output",not p)
p = True
q = True
print("p =",p," q =",q)
print("if p is AND with q, it will output", p and q)
print("if p is OR with q, it will output",p or q)
print("not of p will output",not p)
p = False
q = False
print("p =",p," q =",q)
print("if p is AND with q, it will output", p and q)
print("if p is OR with q, it will output",p or q)
print("not of p will output",not p)

p = True  q = False
if p is AND with q, it will output False
if p is OR with q, it will output True
not of p will output False
p = True  q = True
if p is AND with q, it will output True
if p is OR with q, it will output True
not of p will output False
p = False  q = False
if p is AND with q, it will output False
if p is OR with q, it will output False
not of p will output True

**Bitwise Operators**

Bitwise operators in Python are used to perform operations on individual bits of binary numbers. These operators manipulate the binary representation of integers at the bit level.

1. & (Bitwise AND):
Performs a bitwise AND operation between corresponding bits of two integers. The result is 1 only if both bits are 1.

2. | (Bitwise OR):
Performs a bitwise AND operation between corresponding bits of two integers. The result is 1 if at least one of the bits is 1.

3. ~ (Bitwise NOT):
It flips the bits of an integer bitwise. If convert 1s to 0s and 0s to 1s.

4. ^ (Bitwise XOR):
Performs a bitwise XOR (exclusive OR) operation between corresponding bits of two integers. The result is 1 if the bits are different.


5. << (Left shift):
Shifts the bits of an integer to the left by a specified number of positions, adding zeros to the right.

In [33]:
a = 5  # Binary: 0b101
result = a << 1  # Binary: 0b1010 (Left shift by 1 position)
print(result)

10

6. >> (Right Shift):

Shifts the bits of an integer to the right by a specified number of positions, adding zeros to the left.

In [34]:
a = 20  #binary - 0b10100
result = a >> 2  #shifts right by 2 position- 0b00101->5
print(result)

5

**Typecasting**, also known as type conversion or coercion, is the process of converting one data type into another in programming languages. Python being a dynamically typed language, allows for flexible typecasting to accommodate various data types.

There are basically two types of Type conversion in python:


*   **Implicit Typecasting**

*   **Explicit Typecasting**

**Implicit Typecasting**

In certain situations python automatically converts one data type to another when operations involve different data types. This is known as implicit type conversion.

**1. Integer and float**

In [35]:
# Implicit typecasting from int to float
integer_number = 5
float_number = 3.14
result = integer_number + float_number
print(result)
# The integer is implicitly converted to a float before the addition.

8.14

**2. Integer and String**

In [36]:
# Implicit typecasting from int to string
integer_number = 10
string_number = "5"
result = integer_number + string_number
print(result)  # Output: TypeError (unsupported operand type(s) for +)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Explicit Typecasting**

Explicit type conversion, also known as typecasting, is a process in which a programmer manually converts the data type of an object to the desired data type. In Python, built-in functions such as int(), float(), str(), etc., are used to perform explicit type conversion.

Int():
Python Int() function take float or string as an argument and returns int type object.

float():
Python float() function take int or string as an argument and return float type object.

str():
Python str() function takes float or int as an argument and returns string type object.

In [37]:
# Converting int to float
integer_number = 41
float_number = float(integer_number)
print(float_number, type(float_number))

# Converting float to int
float_value = 7.12
int_value = int(float_value)
print(int_value, type(int_value))

# Converting int to str
integer_value = 123
str_value = str(integer_value)
print(str_value,type(str_value))

41.0 <class 'float'>
7 <class 'int'>
123 <class 'str'>

**Typecasting in Collections:**
*   List typecasting
*   Set typecasting
*   Tuple typecasting

In [38]:
# Converting a tuple to a list
tuple_data = (1, 2, 3)
list_data = list(tuple_data)
print(list_data)

# Converting a list to a set
list_data = [1, 2, 3]
set_data = set(list_data)
print(set_data)

[1, 2, 3]
{1, 2, 3}

**Strings**

A String is a data structure in Python that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. Strings are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

**String Concatenation**

String concatenation involves combining multiple strings into a single string using the + operator.

To use + operator for Strings, both arguments should be str type.

In [39]:
string1 = "Language"
string2 = "Python"
concatenated_string = string2 + " " + string1
print(concatenated_string)

Python Language

**String Replication**

String replication is achieved by using '*' operator to create a repeated copies of a string.

To use * operator for Strings, compulsory one argument should be str and other
argument should be int.

In [40]:
original_string = "Python"
replicated_string = original_string * 3
print(replicated_string)

PythonPythonPython

**String Length**

The **len()** function returns the length (number of characters) of a string.

In [41]:
String = "Python is powerful!"
length = len(String)
print(length)

19

**String Slicing**

In Python, the String Slicing method is used to access a range of characters in the String. Slicing in a String is done by using a Slicing operator, i.e., a colon (**:**).

**Note** - One thing to keep in mind while using this method is that the string returned after slicing includes the character at the start index but not the character at the last index.

In [42]:
# Creating a String
String1 = "Python is easy"

# Printing 3rd to 12th character
print("Slicing characters from 5-12: ")
print(String1[5:12])

# Printing between 3rd and 2nd last character
print("Slicing characters between " +
	"3rd and 3rd last character: ")
print(String1[3:-3])

Slicing characters from 5-12:
n is ea
Slicing characters between 3rd and 3rd last character:
hon is e

**String Case Conversion**

Strings can be converted to uppercase or lowercase using **upper()** and **lower()** methods.

In [43]:
string = "Hello, Python!"
uppercase_string = string.upper()
lowercase_string = string.lower()
print(uppercase_string)
print(lowercase_string)

HELLO, PYTHON!
hello, python!

**String Stripping**

Stripping removes leading and trailing whitespace from a string using **strip()**, **lstrip()**, or **rstrip()**.

In [44]:
whitespace_string = "   Python   "
stripped_string = whitespace_string.strip()
print(stripped_string)
l_stripped_string = whitespace_string.lstrip()
print(l_stripped_string)
r_stripped_string = whitespace_string.rstrip()
print(r_stripped_string)

Python
Python
   Python

**String Replacing**

The **replace()** method replaces occurrences of a substring with another substring.

In [45]:
string = "I am beginner in Python"
new_string = string.replace("beginner", "experienced")
print(new_string)

I am experienced in Python

**String Count**

The **count()** method counts the number of occurrences of a substring in a string.

In [46]:
string = "python program run on python IDLE, in pythonic way."
count = string.count("python")
print(count)

3

**String Find**

The **find()** method returns the index of the first occurrence of a substring. If not found, it returns -1.

In [47]:
string = "Python is powerful and Pythonic."
index = string.find("Python")
print(index)
index = string.find("python")
print(index)

0
-1

**String Formatting**

Strings in Python can be formatted with the use of **format()** method which is a very versatile and powerful tool for formatting Strings. Format method in String contains curly braces **{}** as placeholders which can hold arguments according to position or keyword to specify the order

In [48]:
# Default order
String1 = "{} {} {}".format('Begineer', 'in', 'Python')
print("Print String in default order: ")
print(String1)

# Positional Formatting
String1 = "{1} {0} {2}".format('Begineer', 'in', 'Python')
print("\nPrint String in Positional order: ")
print(String1)

# Keyword Formatting
String1 = "{l} {f} {g}".format(g='Begineer', f='in', l='Python')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Begineer in Python

Print String in Positional order:
in Begineer Python

Print String in order of Keywords:
Python in Begineer

**Variables**

Python Variable is containers that store values. Python is not “statically typed”. We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program.

**Assigning values to python variable**

There are different ways in which we can assign values to a python variable.

- Single Assignment

- Multiple Assignment

- Chained Assignment

- Augmented Assignment

In [49]:
# Single assignment
a = 5

# Multiple assignment
b, c = 10, 15

# Chained assignment
d = e = f = 20

# Augmented assignment
g = 8
g += 2  # Equivalent to g = g + 2

**Variables naming conventions**


There are some rules to name a variable in python:

- A Python variable name must start with a letter or the underscore character.

- A Python variable name cannot start with a number.

- A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

- Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).

- The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [50]:
#some valid variables
variable = 120
var_iab_le = 3.0
_variable4 = 345.89
_var_ = "string variable"
Variable = 45
_Var = 420