In [1]:
# importing sqlite3
import sqlite3

In [16]:
#Connecting to sqlite3
connection = sqlite3.connect('employees.db')
connection

In [3]:
# Creating a Cursor
cursor = connection.cursor()

In [4]:
# Creating a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Employees(
  Id int PRIMARY KEY,
  Age int,
  Name Text NOT NULL,
  Department Text NOT NULL
)
''')

In [5]:
# Inserting values into the table
cursor.execute('''
INSERT INTO Employees(Id, Age, Name, Department)
Values (1, 25, 'Sam', 'Data Science')
''')

cursor.execute('''
INSERT INTO Employees(Id, Age, Name, Department)
Values (2, 26, 'Tom', 'Python')
''')

In [6]:
cursor.execute('''
SELECT * FROM Employees
''')

In [7]:
# Fetching rows from Database
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 25, 'Sam', 'Data Science')
(2, 26, 'Tom', 'Python')

In [9]:
# Updating the rows
cursor.execute('''
UPDATE Employees
SET Age = 26
WHERE Id = 2
''')

In [10]:
cursor.execute('''
SELECT * FROM Employees
''')

In [11]:
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 25, 'Sam', 'Data Science')
(2, 26, 'Tom', 'Python')

In [12]:
# Deleting a row
cursor.execute('''
DELETE FROM Employees
Where Id = 2
''')

In [13]:
cursor.execute('''
SELECT * FROM Employees
''')

rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 25, 'Sam', 'Data Science')

In [14]:
# Commiting to the Database
connection.commit()

In [15]:
# Closing the Database
connection.close()